.login{
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    width:20%;
    height:55%;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: end;
}
.loginInput{
    background-color: rgb(230, 230, 230);
    width: 60%;
    height: 40px;
    border: 2px solid #a3a8b8;
    text-align: center;
    margin: .5rem 0 .5rem 0;
    transition: all .3s;
    border-radius: 5px;
    font-size: 18px;
    font-weight: lighter;

}
.loginInput:focus{
    border: 2px solid #8E9DCC;

}

.loginRegisterTxt:hover{
    color: rgb(126, 126, 126);
}
.loginRegisterTxt{
    width: 60%;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    color: rgb(155, 155, 155);
    transition: all .3s;
    margin-bottom: 2rem;
}

.loginBtn:hover, .playBtn:hover{
    background-color: #8d9fd4;
}

.loginBtn, .playBtn{
    height: 40px;
    width: 180px;
    background-color: #8E9DCC;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    transition: all .3s;
}

.playBtn{
    font-size: 16px;
    margin-top: 2rem;

}