
.podiumContainer{
    height: 80%;
    width: 80%;
    background-color: #d1dcee;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;    
}
.podiumTitle{
    font-size: 50px;
    font-weight: 700;
    margin-top: 2rem;
}
.podiumSubtitle{
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 25px;
}
.top5Container{
    width: 60%;
    flex-direction: column;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll{
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar {
    width: 5px;
    border: solid 30px transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border: solid 30px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border: solid 30px transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.top5ItemName{
    transition: all .3s;
}
.top5ItemName:hover{
    color: rgb(126, 126, 126);
    cursor: pointer;
}
.top5Item, .top5info{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.top5info{
    font-size: 20px;
    width: 60%;
    font-weight: 700;
}
.top5Item{
    margin: 0 auto 1rem auto;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(175, 183, 226);
    height: 40px;
    border-radius: 10px;
}
.horizontalDivider{
    width: 75%;
    height: 3px;
    margin-top:1rem ;
    background-color: rgb(241, 242, 250);
}