@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.tablero{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width:400px;
  align-items:center;
  justify-content: center;
  margin:0 auto 0 auto;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  height: 80%;
  position:relative;
}
.mainBoard{
  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 100%;

}

.container{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: column;
}
.resultCard{
  width:200px;
  height:300px !important;
  margin-left: 10rem;
  background-color:  #8E9DCC !important;
  cursor: default !important;
}
.card{
  height: 90%;
  background-color: #D1DCEE;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
  justify-content: center;
  align-items:center;
}

.cardOperation{
  height: 50px;
  background-color: #D9DBF1;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  justify-content: center;
  align-items:center;
  text-align: center;
  width: 50px;
  display: flex;
}
.operationBoard{
  display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 999;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    padding-bottom: 2.5rem;
}
.operation{
  font-size: 24px;
  margin:auto;

}
.valor{
  position: absolute;
  top: 50%; 
  left: 50%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  transform: translate(-50%, -50%); 
  
}
.paloTop{
  position: absolute;
  top:0;
  left:0;
  margin: 10px 10px 0 0;
  margin: 10px;
}

.paloBottom{
  position: absolute;
  bottom: 0;
  margin: 10px;
  right: 0;
}

.cardNotPressable{
 background-color:#C2C7DF; 
}

.cardPressable:hover{
    transform: scale(1.01);
    background-color: #CAD2E7;
}

.cardOperation:hover{
    transform: scale(1.15);
}
.bottomContainer{
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
  width: 30%;
  height:80px;
  background-color: #7D84B2;
  color: rgb(241, 238, 238);
  display: flex;
  justify-content: center;
  align-items:center;
}

.calculation{
  font-size: 24px;
  font-weight: 600;
}

.infoBtn:hover{
  transform: scale(1.15);
}
.infoBtn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor:pointer;
  transition:all .3s;
}

/*UTILS*/

.ml{
  margin-left: 1rem;
}

/*RESPONSIVE*/

/*PHONE DISPLAY */
@media (max-width: 600px) {
  *{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;

  }
  .tablero{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:70%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin:2rem auto 0 auto;
  }
  .card{
    height: 200px;
  }
  .container{
    height: 40%;
  }
  .mainBoard{
    display:flex;
    flex-direction:column;
    width: 100%;
  }
  .operationBoard{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width:70%;
    z-index: 999;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    margin-bottom: 5rem;
  }
  .resultCard{
    margin-left: 0 ;
    width: 70%;
    height: 80px !important;
    margin: 1.5rem auto 1rem auto;
  }
  .cardOperation{
    width: 100%;
    
  }
  .infoIcon{
    width: 30px;
  }
  .infoBtn{
    
  }
  .bottomContainer{
    width: 100%;
    height: 7vh;
    background-color: #7D84B2;
    color: rgb(241, 238, 238);
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    border-top-right-radius: 15px;
    bottom:0;
    z-index: 9999;
  }

  .cardPressable:hover{
    transform: scale(1);
    background-color: #D1DCEE;
  }

.cardOperation:hover{
    transform: scale(1);
}

.infoBtn:hover{
  transform: scale(1);
}

 }